body {
  background-image: url("./Background.png");
  background-size: cover; background-repeat: no-repeat;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circus {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  margin: 100px;
}
.star {
  display:flex;
  flex-direction: column;
  padding: 20px;
}
h3 {
  font-family: fantasy;
  margin: 20px;
  color:gold;
  background-color:rgba(175, 170, 170, 0.64);
}
h1 {
  color: rgb(235, 231, 220);
  font-family: fantasy;
  text-shadow: 2px solid black;
  background-color: rgba(175, 170, 170, 0.67);
}
.animals {
  display: flex;
  flex-direction: row;
  background-color: rgba(175, 170, 170, 0.67);
  font-size: 3rem;
}
button {
  border-radius: 10px;
  font-family: fantasy;
}
button:hover {
  opacity: .75;
}